<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<style>
  body {
    background-image: url('../static/login_page.jpg');
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    opacity: 0.9;
  }

  .container {
    opacity: 0.8;
  }

  .card {
    background-color: black;
    color: gold;
    opacity: 0.9;
  }

  .btn {
    background-color: red;
    color: black;
  }

  .btn:hover {
    background-color: white;
    color: black;
  }
</style>

<body>
  <section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">

              <h3 class="mb-5">Register</h3>

              <div class="form-outline mb-4">
                <input type="email" id="typeEmailX-2" class="form-control form-control-lg" />
                <label class="form-label" for="typeEmailX-2">User ID</label>
              </div>

              <div class="form-outline mb-4">
                <input type="password" id="typePasswordX-2" class="form-control form-control-lg" />
                <label class="form-label" for="typePasswordX-2">Password</label>
              </div>

              <a href="/index"><button onclick="alert('logged in successfully')" class="btn btn-primary btn-lg btn-block" type="submit">Register/Login</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
</html>